@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@layer base {
  html,
  body {
    font-family: 'Open Sans', sans-serif;
    @apply antialiased; 
    
  }
}

table#date-table th,
table#date-table td {
  @apply bg-celeste select-none border-solid border-2 border-sky;
}

table#date-table td {
  @apply cursor-pointer p-3 overflow-auto;
}

table#date-table td.active {
  @apply bg-munsell text-white;
}
table#date-table td.over {
  @apply bg-sky;
}

input.radio-action {
  @apply mr-2 h-5 w-5 align-sub;
}

.action-button{
  @apply bg-sky py-1 px-2 rounded-full font-semibold text-[#064663] 
         hover:bg-munsell hover:text-white 
         active:bg-sky active:text-munsell
         transition-all transform hover:scale-105
         active:transition-all  active:scale-95 ;
}

table#list th,td{
  @apply  border border-slate-300 bg-munsell text-minion p-2
}

#connections li{
  @apply py-1 pl-3 border border-sky my-1 bg-sky hover:bg-celeste  hover:text-bulgar transition duration-300 cursor-pointer

}
#connections li.active{
  @apply bg-munsell text-zinc-100 hover:bg-zinc-300 hover:text-bulgar before:content-['X'] before:mr-3

}
#connections{
  @apply list-none list-inside border border-munsell bg-minion

}